# Ignorando a pasta com os algorítmos em Linguagens em especial.
# Cada pasta terá seu próprio versionamento.

AlgJava/
AlgJava/*
AlgPython/
AlgPython/*
AlgCSharp/
AlgCSharp/*
AlgC/
AlgC/*
AlgCpp/
AlgCpp/*